<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= gm.name %></title>
</head>
<body>
    <h1><%= gm.name %></h1>
    <h2>Located in: <%= gm.location %></h2>

    <section>
        <ul>
            <li><%= gm.email %></li>
            <li><%= gm.price %></li>
            <li><%= gm.game %></li>
        </ul>
    </section>

    <section>
        <h3>About Me</h3>
        <p><%= gm.bio %></p>
    </section>

    <section>
        <form form action="/gamemasters/<%= gm._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </section>

    <footer>
        <div>
            <a href="/gamemasters/<%= gm._id %>/edit">Edit Listing</a>
        </div>
        <div>
            <a href="/gamemasters">Go Back <--</a>
        </div>
    </footer>
</body>
</html>